Repository LandonSchropp/landonschropp.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

.lintstagedrc.json:

{
  "*": "prettier --write --cache --ignore-unknown",
  "*.{ts,tsx}": "tsc-files --noEmit",
  "*.{js,jsx,ts,tsx,cjs,mjs}": "eslint"
}

Refactor summaries to use updated filter function
  src/components/notes/note-summaries.tsx
  src/components/today-i-learned/today-i-learned-summaries.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Set the colors for the tags
  src/components/notes/note-summaries.tsx
  src/components/today-i-learned/today-i-learned-summaries.tsx
  src/data/tags.ts
  tailwind.config.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Style tables in content
  src/app/notes/layout.tsx
  src/styles/content/tables.css
  src/utilities/markdown.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Run Prettier for all files
  src/components/articles/article-summary.tsx
  src/components/content/summary.tsx
  src/styles/content/code.css
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Add validation to ensure content does not contain an H1
  src/schema/content.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Add support for markdown callouts
  package.json
  pnpm-lock.yaml
  src/app/notes/layout.tsx
  src/styles/content/callouts.css
  src/styles/content/tables.css
  src/utilities/markdown.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update the useTag hook documentation
  src/hooks/use-tag.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Remove GitHub Actions deploy workflow
  .github/workflows/deploy.yml
Due: prettier --write --cache --ignore-unknown

Add updated deployment instructions
  readme.md
Due: prettier --write --cache --ignore-unknown

Add GitHub Pages package
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown

Add deploy script
  bin/deploy
Due: prettier --write --cache --ignore-unknown

Downgrade to LTS version of Node.js
  .node-version
Due: prettier --write --cache --ignore-unknown

Change ESLint config file format to remove warning
  eslint.config.mjs
Due: prettier --write --cache --ignore-unknown, eslint

Bump all packages to latest
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown

Add Suspense boundaries to fix build error
  src/app/notes/layout.tsx
  src/app/today-i-learned/layout.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update Husky
  .husky/pre-commit
  package.json
Due: prettier --write --cache --ignore-unknown

Prepend the slug to all image paths in markdown
  src/data/content.ts
  src/utilities/markdown.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Automatically add slug to Markdown image paths
  src/components/articles/article.tsx
  src/components/content/markdown.tsx
  src/components/notes/note.tsx
  src/components/today-i-learned/today-i-learned.tsx
  src/data/content.ts
  src/utilities/markdown.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Add dynamic route to download images for notes
  src/app/notes/[slug]/[image]/route.tsx
  src/data/content.ts
  src/data/image.ts
  src/schema/content.ts
  src/schema/index.ts
  src/types.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Dynamically determine image type
  package.json
  pnpm-lock.yaml
  src/data/image.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Add images to articles and TILs
  src/app/articles/[slug]/[image]/route.tsx
  src/app/today-i-learned/[slug]/[image]/route.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Remove a todo
  src/data/image.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update the readme title
  readme.md
Due: prettier --write --cache --ignore-unknown

Update the readme to match the framework
  readme.md
Due: prettier --write --cache --ignore-unknown

Add a deployment launchd plist file
  deploy.plist
Due: prettier --write --cache --ignore-unknown

Update the deployment script to set up the environment
  bin/deploy
  deploy.plist
Due: prettier --write --cache --ignore-unknown

Prevent the deployment when the content has not changed
  bin/deploy
  deploy.plist
Due: prettier --write --cache --ignore-unknown

Tweak the deploy script
  bin/deploy
Due: prettier --write --cache --ignore-unknown

Replace the landing page images
  src/images/data/ampersand.svg
  src/images/data/chess-com.svg
  src/images/data/designer.svg
  src/images/data/developer.svg
  src/images/data/email.svg
  src/images/data/entrepreneur-comma.svg
  src/images/data/entrepreneur.svg
  src/images/data/github.svg
  src/images/data/landon.svg
  src/images/data/landscape.svg
  src/images/data/linkedin.svg
  src/images/data/not-found.svg
  src/images/data/notes.svg
  src/images/data/portrait.svg
  src/images/data/schropp.svg
  src/images/data/til.svg
  src/images/data/writing.svg
Due: prettier --write --cache --ignore-unknown

Only write to the SHA after a successful deployment
  bin/deploy
Due: prettier --write --cache --ignore-unknown

Bump packages
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Fix warning in ESLint configuration
  eslint.config.mjs
Due: prettier --write --cache --ignore-unknown, eslint

Fix linter errors
  src/components/articles/article-summary.tsx
  src/components/articles/article.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Add ClientOnly component
  src/components/base/client-only.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint
