Repository LandonSchropp/landonschropp.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

.lintstagedrc.json:

{
  "*": "prettier --write --cache --ignore-unknown",
  "*.{ts,tsx}": "tsc-files --noEmit",
  "*.{js,jsx,ts,tsx,cjs,mjs}": "eslint"
}

Install TanStack Start and Vite dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown

Add Vite devtools
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown

Ignore Next.js directories (TODO: REMOVE THIS)
  eslint.config.mjs
  tsconfig.json
Due: prettier --write --cache --ignore-unknown, eslint

Prevent some paths from being crawled (TODO: Remove this)
  vite.config.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Fix Tailwind v4 configuration
  src/routes/__root.tsx
  src/styles/index.css
  vite.config.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Add @tanstack/zod-adapter
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown

Convert data functions to server functions
  src/data/articles.ts
  src/data/notes.ts
  src/data/today-i-learned.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Ignore generated routeTree.gen.ts file
  .gitignore
  .prettierignore
  eslint.config.mjs
Due: prettier --write --cache --ignore-unknown, eslint

Add missing Outlet component to root layout
  src/routes/__root.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update content data functions to use parseUnknownContent
  src/data/content.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update schemas
  src/schema/content.ts
  src/schema/today-i-learned.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Set the package's type to module
  package.json
Due: prettier --write --cache --ignore-unknown

Add UnknownContent and parseUnknownContent
  src/schema/content.ts
  src/schema/today-i-learned.ts
  src/types.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update tag functions to handle undefined tags
  src/data/tags.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update tsconfig.json for TanStack Start
  src/router.tsx
  src/routes/__root.tsx
  tsconfig.json
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Remove all unnecessary React imports
  src/components/dynamic-pages/not-found-page.tsx
  src/components/dynamic-svg/aspect.tsx
  src/components/dynamic-svg/row.tsx
  src/hooks/use-size.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Downgrade zod and upgrade other dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown

Add @tanstack/start-static-server-functions
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --ignore-unknown

Remove tagging logic
  src/components/base/client-only.tsx
  src/components/content/header.tsx
  src/components/content/tag.tsx
  src/components/content/tags.tsx
  src/components/navigation/main-navigation.tsx
  src/components/notes/note-header.tsx
  src/components/notes/note-summaries.tsx
  src/components/notes/note-tag.tsx
  src/components/notes/note.tsx
  src/components/today-i-learned/today-i-learned-header.tsx
  src/components/today-i-learned/today-i-learned-summaries.tsx
  src/components/today-i-learned/today-i-learned-summary.tsx
  src/components/today-i-learned/today-i-learned-tag.tsx
  src/components/today-i-learned/today-i-learned.tsx
  src/data/tags.ts
  src/hooks/use-category.ts
  src/hooks/use-current-tag.ts
  src/hooks/use-is-client.ts
  src/hooks/use-search-param.ts
  src/hooks/use-tag.ts
  src/hooks/use-technology.ts
  tailwind.config.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update test with new schema
  src/components/notes/note-header.test.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update MainNavigation for TanStack
  src/components/navigation/main-navigation.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Migrate the index page to TanStack
  src/app/layout.tsx
  src/app/page.tsx
  src/components/dynamic-svg/dynamic-svg.tsx
  src/global.d.ts
  src/routes/index.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Set up 404 page
  src/app/not-found.tsx
  src/components/dynamic-pages/not-found-page.tsx
  src/routes/__root.tsx
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Update Tailwind for v4
  tailwind.config.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Configure SVGR
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: prettier --write --cache --ignore-unknown, tsc-files --noEmit, eslint

Add no-op .husky/commit-msg shim
  .husky/commit-msg
Due: prettier --write --cache --ignore-unknown

Use the canonical casing for the convention files
  AGENTS.md
  CLAUDE.md
  README.md
  claude.md
Due: prettier --write --cache --ignore-unknown
